h1{
    color:blueviolet;
    background-color:aqua;

border:black 5px dotted;

}

p{

color:blue;
text-align: center;

}


#container1 {

    background-color: rgb(222, 62, 166);

    border:pink 5px dotted;
}



#container2 {
    background-color: bisque;

padding:10px ;
margin:20px;

}